<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="app.facoluz_evaluacion_bucal"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:label="FacoLUZ Evaluación Bucal" android:icon="@mipmap/logo" android:usesCleartextTraffic="true">
        <activity android:name=".Main"
                  android:label="FacoLUZ Evaluación Bucal"
                  android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
                  android:exported="true"
                  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
