:root {
	--smallpad: 10px;
	--pad: 15px;
	--bigpad: 30px;
}
* {
	gap: inherit;
	transition-duration: inherit;
	transition-property: inherit;
	flex-wrap: wrap;
	align-items: inherit;
	justify-content: inherit;
	box-sizing: border-box;
}
html, body { padding: 0; margin: 0; width: 100%; height: 100%; }
html {
	gap: var(--pad);
	align-items: center;
	background-color: lightgray;
}
form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: nowrap;
	padding: var(--bigpad);
	gap: var(--pad);
	width: 100%;
	> div.options {
		display: flex;
		width: 100%;
		> div {
			display: flex;
			flex-direction: column;
		}
	}
}
h1 {
	font-size: 1.2rem;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;
	align-self: stretch;
	padding: 10px 1rem;
}
h2 {
	font-size: 1.1rem;
}
label {
	display: block;
}
.small-select select {
	width: 2rem;
	height: 2rem;
}
button, input[type="submit"] { all: unset }
select, input {
	width: 10em;
	background-color: white;
	color: black;
	border-radius: 5px;
}
a { text-decoration: none }
button, a, input[type="submit"] {
	background-color: white;
	color: black;
	border-radius: 5px;
}
input[type="submit"], button, a {
	padding: var(--pad);
	box-shadow: 0px 3px 5px black;
}
span.note { color: gray }
th { font-weight: normal }
.separator { flex-basis: 1px; flex-shrink: 0; align-self: stretch }

#login {
	padding: 0;
	display: flex;
	flex-wrap: nowrap;
	gap: var(--pad);
	flex-direction: column;
	> * { flex-grow: 1; flex-basis: 0px }
	> div { width: 100%; background-color: white; }
	> form {
		> div {
			display: flex;
			flex-direction: column;
			input { padding: var(--smallpad); }
		}
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
	}
}
#welcome {
	display: flex;
	flex-wrap: nowrap;
	gap: var(--pad);
	flex-direction: column;
	padding: var(--pad);
	align-items: center;
	> div { display: flex; flex-direction: column; gap: var(--smallpad); }
}
#logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: var(--pad);
	> * { max-width: 100%; height: 0; flex-grow: 1; }
}
